{% extends "base.html" %}
{% block content %}

<div id="row" style="margin-top:20px;">
    
    <div class="col-md-3">
        <img src="/static/images/game.jpg" />
    </div>
    
    <div class="col-md-9">
    	
    	<h1>About Us</h1>
    
        <p>
            Disboard is an online service to play a game.
        </p>
        
        <h1>Beta Period</h1>
        
        <p>This service is currently under development and available only to select
           invited organizations.</p>
        
        <p>After the beta period, it will be available as an online subscription service.</p>
        
        <h3>Credits</h3>
        
        <p>Disboard makes use of the following Open Source Software projects:
        
        <ul>
            <li><a href="https://www.python.org/">Python</a></li>
            <li><a href="http://flask.pocoo.org/">Flask</a></li>
            <li><a href="http://www.mysql.com/">MySQL</a></li>
            <li><a href="http://www.sqlalchemy.org/">SQLAlchemy</a>
            <li><a href="https://pypi.python.org/pypi/alembic">Alembic</a></li>
            <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
            <li><a href="http://jquery.com/">jQuery</a> / <a href="http://jqueryui.com/">jQuery UI</a></li>
        </ul>
    
    </div>
</div>

{% endblock %}